@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(98.5% 0 0);
  --foreground: oklch(37.1% 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(26.9% 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* HOLI */
.theme-holi .theme-text {
  @apply bg-linear-to-r from-pink-500 via-orange-400 to-purple-500 bg-clip-text text-transparent;
}

.theme-holi .theme-text-normal {
  @apply text-pink-500;
}

.theme-holi .theme-bg {
  @apply bg-linear-to-r from-pink-500 via-orange-400 to-purple-500;
}


.theme-holi .theme-hero-bg {
  @apply bg-linear-to-r from-pink-200 via-orange-200 to-purple-200;
}

/* DIWALI */
.theme-diwali .theme-text {
  @apply bg-linear-to-r from-yellow-400 via-orange-500 to-amber-600 bg-clip-text text-transparent;
}

.theme-diwali .theme-text-normal {
  @apply text-yellow-400;
}

.theme-diwali .theme-bg {
  @apply bg-linear-to-r from-yellow-400 via-orange-500 to-amber-600;
}

.theme-diwali .theme-hero-bg {
  @apply bg-linear-to-r from-yellow-100 via-orange-200 to-amber-300;
}

/* DUSSEHRA */
.theme-dushera .theme-text {
  @apply bg-linear-to-r from-red-600 via-orange-500 to-yellow-400 bg-clip-text text-transparent;
}

.theme-dushera .theme-text-normal {
  @apply text-orange-600;
}

.theme-dushera .theme-bg {
  @apply bg-linear-to-r from-red-600 via-orange-500 to-yellow-400;
}

.theme-dushera .theme-hero-bg {
  @apply bg-linear-to-r from-red-100 via-orange-100 to-yellow-100;
}

/* Dhanteras */
.theme-dhanteras .theme-text {
  @apply bg-linear-to-r from-yellow-400 via-amber-500 to-yellow-600 bg-clip-text text-transparent;
}

.theme-dhanteras .theme-text-normal {
  @apply text-amber-400;
}

.theme-dhanteras .theme-bg {
  @apply bg-linear-to-r from-yellow-400 via-amber-500 to-yellow-600;
}

.theme-dhanteras .theme-hero-bg {
  @apply bg-linear-to-tr from-zinc-300 via-amber-100 to-yellow-300;
}